# application.properties
spring.application.name=product-service
server.port=8082

# MongoDB Configuration
spring.data.mongodb.uri=PASTE_YOUR_MONGO-DB_URL
spring.data.mongodb.database=productdb

# Eureka Client
eureka.client.service-url.defaultZone=http://localhost:8761/eureka/
eureka.instance.prefer-ip-address=true